.cover123 {
  background-color: #331a00;
}

.menu {
  float: right;
  position: absolute;
  padding-top: 5px;
  width: 83.9%;
  margin-left: 16%;
  list-style-type: none;
  background-color: #280909b1;
}
#zost1{
  float: left;
  background: -webkit-linear-gradient(rgb(238, 253, 78),rgb(238, 7, 134));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 33px;
}
#disp {
  float: right;
  padding-top: 5px;
}
.menu-item {
  display: block;
  float: right;
  color: rgb(7, 7, 7);
  text-align: center;
  padding: 10px 16px;
}
.cover1234 {
  position: relative;
  padding-bottom: 10%;
  
}
#logoimg1
  {
    float:left;
    padding:1px 0 0 2px;
    width: 70px;
    
  }
.menu4 {
  float: right;
  position: absolute;
  padding-top: 5px;
  width: 100%;
  list-style-type: none;
  background-color: #320101;
}
#disp1 {
  float: right;
  padding-top: 16px;
  padding-left: 15px;
  padding-right:2px;
  text-decoration: none;
  color: rgb(248, 247, 247);
}
.menu-item4 {
  display: block;
  float: right;
  color: rgb(251, 249, 249);
  text-align: center;
  padding: 10px 16px;
}
.picture {
  margin-top: 5px;
}
