.containerbg{
    
    background-position:top;
    background-size: cover;
    

}
.containerabt{
    padding-bottom: 3%;
    
}
.imgs{
    float: right;
    margin-block: -15%;
    margin-right: 11%;
}
.imgs1{
    float: right;
    margin-block: -15%;
    margin-right: 11%;
   padding-top: 50px;
}
.abt{
margin-left: 10%;
font-size: 20px;
margin-top: 1%;
color: rgb(250, 246, 246);
}
.abtus{
    margin-left: 7%;
    font-size:30px;
    display: flex;
    color: rgba(125, 129, 3, 0.869);
    font-weight: bolder;
}
.team{
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding-bottom: 30px;
    color: aliceblue;
}
.teamname{
    margin-top: 4px;
    margin-left: 7%;
    font-size:30px;
    font-weight: bolder;
    margin-bottom: 1%;
    color:rgba(125, 129, 3, 0.869);
}
.team img{
    margin-left: 25%;
}
.abt1{
    margin-left: 10%;
font-size: 20px;
margin-top: 1%;
color: rgba(251, 250, 250, 0.673);
}
.abtus1{
    margin-left: 9%;
    font-size:30px;
    display: flex;
    color: rgba(125, 129, 3, 0.869);
    font-weight: bolder; 
}
#bodyabout {
  background-image: url("../Images/loginbg.avif");
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
  
    height: 173vh;
    z-index: 4;
  }
  
  #layerabout {
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 173vh;
    background-color: #19171a;
    opacity: 0.89;
    z-index: 3;
    
  }