.containers{
    margin-left: 12%;
    margin-right: 8%;
}
.containers h2{
    font-size: 35px;
    margin-left: 43%;
 padding-top: 3px;
    margin-bottom: 2%;
}
table{
    width: 80%;
  margin-left: 15%;
    border-collapse: collapse;
    background-color: bisque;
    margin-bottom: 2.5%;
    box-shadow: 2px 2px 2px 2px rgb(13, 9, 9);
}
td{
    text-align: left;
    border: 1px solid rgb(169, 167, 167);
    padding-left: 8px;
    border-collapse: collapse;
    font-size: 13px;
    padding: 1%;
    }
    th{
        text-align: left;
        padding: 20px;
        font-size:26px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border: 1px solid  rgb(191, 189, 189);
    
        }